<?php include 'header.php' ?>

        <div class="mh-wrapper clearfix">
            <div class="mh-main clearfix">
                <div id="main-content" class="mh-content" role="main" itemprop="mainContentOfPage">
                    <nav class="mh-breadcrumb"><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.php" itemprop="url"><span itemprop="title">Home</span></a>
                        </span><span class="mh-breadcrumb-delimiter"><i class="fa fa-angle-right"></i></span><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="single.php" itemprop="url"><span itemprop="title">Politics</span></a>
                        </span><span class="mh-breadcrumb-delimiter"><i class="fa fa-angle-right"></i></span>Saraki’s CCT acquittal:
                        Fed. Govt. Completes record transmission.</nav>
                    <article id="post-170" class="post-170 post type-post status-publish format-standard has-post-thumbnail hentry category-politics tag-debate tag-government tag-law tag-legislation tag-politics">
                        <header class="entry-header clearfix">
                            <h1 class="entry-title">Saraki’s CCT acquittal: Fed. Govt. Completes record transmission.</h1>
                            <div class="mh-subheading-top"></div>
                            <!--<h2 class="mh-subheading">This is a custom subheading for your article</h2>-->
                            <div class="mh-meta entry-meta"> <span class="entry-meta-date updated"><i class="fa fa-clock-o"></i><a href="#">Oct 11, 2025</a></span>
                                <span class="entry-meta-author author vcard"><i class="fa fa-user"></i><a class="fn" href="#">Israel</a></span>
                                <span class="entry-meta-categories"><i class="fa fa-folder-open-o"></i><a href="#" rel="category tag">Politics</a></span>
                                <span class="entry-meta-comments"><i class="fa fa-comment-o"></i><a href="#" class="mh-comment-count-link" >0</a></span></div>
                        </header>
                        <div id="text-3" class="mh-widget mh-posts-1 widget_text">
                            <div class="textwidget">
                                <div class="mh-ad-label">Advertisement</div>
                                <div class="mh-ad-area">
                                    <div style="font-size: 13px; padding: 0.5em; background: #f5f5f5; border: 1px solid #ebebeb; text-align: center;">
                                        <a target="_blank" href="#" title="Purchase MH Magazine Premium">Here you can place more advertisements and banners</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content clearfix">
                            <figure class="entry-thumbnail"> <img src="images/berlin-678x381.jpg" alt="Berlin" title="Berlin" />
                                <figcaption class="wp-caption-text">Image Credit: The Script Photography</figcaption>
                            </figure>

                            <p><span class="mh-dropcap">T</span> he office of the Attorney General of the Federation (AGF) yesterday
                                completed the transmission of record of proceedings at the Code of Conduct Tribunal (CCT)
                                to the Court of Appeal in Abuja in relation to the appeal it filed against the acquittal
                                of Senate President Bukola Saraki by the CCT.</p>

                            <p>The record, and briefs of argument to be filed by parties, form what the Court of Appeal will
                                consider and review in deciding the appeal filed by the AGF (on behalf of the Federal Government)
                                against the CCT judgment of June 14. The number is: CA/A/460/2017. With the appeal now entered
                                and number allocated, the appellant, by the Rules of the Court of Appeal, It was learnt yesterday
                                that the transmission of the record started on Wednesday, but was completed yesterday, following
                                which the Appeal Court entered the appeal on its list and allocated a number to it. </p>

                            <p>is to proceed to file its brief, serve on the respondent, who in turn, will file its response
                                and serve the appellant (the process of briefs exchange), following which the court will
                                fix a date for hearing of the appeal. In a notice of appeal it filed on June 20, 2017 the
                                appellant stated that the judgment “effectively” overruled previous decisions of the Court
                                of Appeal delivered with respect to Saraki’s trial and other criminal cases.</p>

                            <p>“The judgment of the lower tribunal is unwarranted, unreasonable and against the weight of evidence,”
                                the notice of appeal read in part. The notice of appeal was signed by the lead prosecuting
                                counsel,  Rotimi Jacobs (SAN), and an Assistant Chief State Counsel in the Federal Ministry
                                of Justice, Pius Akutah. The appellant described the judgment as “unconstitutional and without
                                jurisdiction.” It stated that the CCT erred in law by upholding Saraki’s no-case submission
                                “when the onus of proof” was on the Senate President to show “that there was no infraction
                                in the Code of Conduct Forms.</p>
                            <p>

                            </p>

                            <p>The appellant argued that: “By the provisions of paragraphs 11 (2), (3) and (13) of Part 1, 5th
                                Schedule to the Constitution of the Federal Republic of Nigeria, 1999 (as amended), once
                                the Code of Conduct form filled by the public officer is investigated and found to</p>

                            <p>be false or that some assets are beyond the legitimate income of the public officer or that the
                                assets were acquired by means of corrupt practices, the public officer concerned is deemed
                                to have breached the Code of Conduct and it is for him to show to the tribunal that there
                                is no infraction in the form.</p>
                            <div class="mh-social-bottom">
                                <div class="mh-share-buttons clearfix">
                                    <a class="mh-facebook" href="#" onclick="window.open('https://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.mhthemes.com%2Fmagazine%2Ftempor-invidunt-ut-labore-et-dolore-magna-aliquyam%2F&amp;t=Laoreet+dolore+magna+aliquam+erat+vol+magna+aliquyam', 'facebookShare', 'width=626,height=436'); return false;"
                                        title="Share on Facebook"> <span class="mh-share-button"><i class="fa fa-facebook"></i></span> </a>
                                    <a class="mh-twitter" href="#" onclick="window.open('https://twitter.com/share?text=Laoreet+dolore+magna+aliquam+erat+vol+magna+aliquyam:&amp;url=http%3A%2F%2Fdemo.mhthemes.com%2Fmagazine%2Ftempor-invidunt-ut-labore-et-dolore-magna-aliquyam%2F', 'twitterShare', 'width=626,height=436'); return false;"
                                        title="Tweet This Post"> <span class="mh-share-button"><i class="fa fa-twitter"></i></span> </a>
                                    <a class="mh-pinterest" href="#" onclick="window.open('https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fdemo.mhthemes.com%2Fmagazine%2Ftempor-invidunt-ut-labore-et-dolore-magna-aliquyam%2F&amp;media=http://demo.mhthemes.com/magazine/wp-content/uploads/sites/16/2015/10/berlin.jpg&amp;description=Laoreet+dolore+magna+aliquam+erat+vol+magna+aliquyam', 'pinterestShare', 'width=750,height=350'); return false;"
                                        title="Pin This Post"> <span class="mh-share-button"><i class="fa fa-pinterest"></i></span> </a>
                                    <a class="mh-googleplus" href="#" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en-US&amp;url=http%3A%2F%2Fdemo.mhthemes.com%2Fmagazine%2Ftempor-invidunt-ut-labore-et-dolore-magna-aliquyam%2F', 'googleShare', 'width=626,height=436'); return false;"
                                        title="Share on Google+" target="_blank"> <span class="mh-share-button"><i class="fa fa-google-plus"></i></span> </a>
                                    <a class="mh-email" href="#" title="Send this article to a friend" target="_blank"> <span class="mh-share-button"><i class="fa fa-envelope-o"></i></span> </a>
                                </div>
                                <p>This current post has been shared 100 times click above to share also:</p>
                            </div>
                        </div>
                        <div class="entry-tags clearfix"><i class="fa fa-tag"></i>
                            <ul>
                                <li><a href="#" rel="tag">Debate</a></li>
                                <li><a href="#" rel="tag">Government</a></li>
                                <li><a href="#" rel="tag">Law</a></li>
                                <li><a href="#" rel="tag">Legislation</a></li>
                                <li><a href="#" rel="tag">Politics</a></li>
                            </ul>
                        </div>

                    </article>
                    <div class="mh-author-box clearfix">
                        Copyright 2017 TheScript. Permission to use quotations from this article is granted subject to appropriate credit being given
                        to www.thescript.com.ng as the source.
                    </div>
                    <nav class="mh-post-nav mh-row clearfix" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                        <div class="mh-col-1-2 mh-post-nav-item mh-post-nav-prev">
                            <a href="#" rel="prev"><img width="80" height="60" src="images/protest-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Protest"  sizes="(max-width: 80px) 100vw, 80px" /><span>Previous</span>
                                    <p>The incessant lynching of humans continue</p>
                                  </a>
                        </div>
                        <div class="mh-col-1-2 mh-post-nav-item mh-post-nav-next">
                            <a href="#" rel="next"><img width="80" height="60" src="images/river_london-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="River London"  sizes="(max-width: 80px) 100vw, 80px" /><span>Next</span>
                                    <p>How the group called badoo started</p>
                                  </a>
                        </div>

                    </nav>

                    <div id="text-4" class="mh-widget mh-posts-2 widget_text">
                        <div class="textwidget">
                            <div class="mh-ad-label">Advertisement</div>
                            <div class="mh-ad-area">
                                <div style="font-size: 13px; padding: 0.5em; background: #f5f5f5; border: 1px solid #ebebeb; text-align: center;">
                                    <a target="_blank" href="#" title="Purchase MH Magazine Premium">Here you can place more advertisements and banners</a></div>
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="mh-comments-wrap">
                        <h4 class="mh-widget-title mh-comment-form-title"> <span class="mh-widget-title-inner"> Be the first to comment </span></h4>
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                            <form action="http://demo.mhthemes.com/magazine/wp-comments-post.php" method="post" id="commentform" class="comment-form"
                                novalidate>
                                <p class="comment-notes">Your email address will not be published.</p>
                                <p class="comment-form-comment">
                                    <label for="comment">Comment</label>
                                    <br/>
                                    <textarea id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea>
                                </p>
                                <p class="comment-form-author">
                                    <label for="author">Name </label><span class="required">*</span>
                                    <br/>
                                    <input id="author" name="author" type="text" value="" size="30" aria-required='true' />
                                </p>
                                <p class="comment-form-email">
                                    <label for="email">Email </label><span class="required">*</span>
                                    <br/>
                                    <input id="email" name="email" type="text" value="" size="30" aria-required='true' />
                                </p>
                                <p class="comment-form-url">
                                    <label for="url">Website</label>
                                    <br/>
                                    <input id="url" name="url" type="text" value="" size="30" />
                                </p>
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                    <input type='hidden' name='comment_post_ID' value='170' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="mh-widget-col-1 mh-sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
                    <div id="text-2" class="mh-widget widget_text">
                        <div class="textwidget">
                            <div class="mh-ad-spot">
                                <a href="#" target="_blank">
                                        <img alt="MH Themes" src="images/ad-300x250-mh-magazine.png"> </a>
                            </div>
                        </div>
                    </div>

                    <div id="mh_magazine_nip-2" class="mh-widget mh_magazine_nip">
                        <h4 class="mh-widget-title"><span class="mh-widget-title-inner">News in Pictures</span></h4>
                        <ul class="mh-nip-widget clearfix">
                            <li class="mh-nip-item post-115 post type-post status-publish format-standard has-post-thumbnail category-money tag-banks tag-euro tag-financial tag-money">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Feugiat nulla facilisis at vero eros et accumsan">
                                          <img width="80" height="60" src="images/wallet-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Wallet"  sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-77 post type-post status-publish format-standard has-post-thumbnail category-europe tag-europe tag-sightseeing tag-travel tag-uk">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Rila delenit augue duis dolore te feugait nulla facilisi">
                                          <img width="80" height="60" src="images/britain-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Britain"  sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-15 post type-post status-publish format-standard has-post-thumbnail category-business tag-business tag-career tag-hr tag-jobs">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Sed tempor et et invidunt justo labore stet clita">
                                          <img width="80" height="60" src="images/office_writing-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Office writing"  sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-143 post type-post status-publish format-standard has-post-thumbnail category-world tag-conflicts tag-demonstration tag-israel tag-politics tag-world">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Exerci tation medi esto ullamcorper suscipit">
                                          <img width="80" height="60" src="images/protest-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Protest" sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-51 post type-post status-publish format-standard has-post-thumbnail category-economy tag-airline tag-company tag-economy tag-shareholders">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Sanctus sea sed takimata ut vero voluptua est lorem">
                                          <img width="80" height="60" src="images/plane_board-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Plane Board"  sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-29 post type-post status-publish format-standard has-post-thumbnail category-business tag-business tag-creative tag-graphics tag-silicon-valley">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Labore et dolore magna aliquyam erat sed diam voluptua">
                                          <img width="80" height="60" src="images/startup-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Startup" sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-14 post type-post status-publish format-standard has-post-thumbnail category-business tag-business tag-career tag-interview tag-jobs">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Ut labore et dolore magna aliquyam erat sed diam voluptua">
                                          <img width="80" height="60" src="images/office-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Office"  sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-76 post type-post status-publish format-standard has-post-thumbnail category-europe tag-europe tag-sightseeing tag-travel">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Sea takimata sanctus est lorem ipsum dolor sit amet">
                                          <img width="80" height="60" src="images/bonjour-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Bonjour" sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                            <li class="mh-nip-item post-13 post type-post status-publish format-standard has-post-thumbnail category-business tag-art tag-business tag-culture tag-investments">
                                <a class="mh-thumb-icon mh-thumb-icon-small" href="#" title="Duis autem vel eum iriure dolor in hendrerit in vulputate">
                                          <img width="80" height="60" src="images/museum-80x60.jpg" class="attachment-mh-magazine-small size-mh-magazine-small wp-post-image" alt="Museum" sizes="(max-width: 80px) 100vw, 80px" />
                                          <div class="mh-nip-overlay"></div>
                                        </a>
                            </li>
                        </ul>
                    </div>

                    <?php include 'sidebar.php' ?>


                    <div id="text-2" class="mh-widget widget_text">
                        <div class="textwidget">
                            <div class="mh-ad-spot">
                                <a href="#" target="_blank">
                                                            <img alt="MH Themes" src="images/ad-300x250-mh-magazine.png"> </a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
        
<?php include 'footer.php' ?>